In [605]:
import selenium 
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [173]:
driver = webdriver.Chrome()

In [174]:
driver.get("https://www.shine.com/")

In [175]:
search=driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

In [176]:

designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [177]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [178]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

In [179]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [180]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)   
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:11]:
    location=i.text
    job_location.append(location)    
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:11]:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:11]:
    exp=i.text
    experience_required.append(exp)

In [181]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

11 11 11 11

In [182]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Exprience':experience_required})
df

,Title,Location,Company,Exprience
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs
10,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [183]:
driver = webdriver.Chrome()

In [184]:
driver.get("https://www.shine.com/")

In [185]:
search=driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

In [186]:

designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [187]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [190]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

In [191]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [192]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)   
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:11]:
    location=i.text
    job_location.append(location)    
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:11]:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:11]:
    exp=i.text
    experience_required.append(exp)

In [194]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

11 11 11 11

In [195]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Exprience':experience_required})
df

,Title,Location,Company,Exprience
0,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
1,Data Scientist,Bangalore,ltimindtree limited,6 to 8 Yrs
2,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal,5 to 9 Yrs
3,Senior Data Scientist,Bangalore\n+1,neostats,7 to 11 Yrs
4,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
5,Lead Data Scientist,Bangalore\n+1,aereo,7 to 10 Yrs
6,Data Scientist,Bangalore\n+7,people staffing solutions,4 to 9 Yrs
7,Data Scientist,Bangalore\n+2,diraa hr services,0 to 4 Yrs
8,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
9,Pharma Data Scientist,Bangalore\n+4,quiscon biotech,0 to 1 Yr
10,Hiring For Data Scientist,Bangalore\n+13,yogita staffing solution,0 to 3 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [196]:
driver = webdriver.Chrome()

In [197]:
driver.get("https://www.shine.com/")

In [198]:
search=driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

In [199]:

designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [202]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [499]:
driver = webdriver.Chrome()

In [500]:
driver.get("https://www.flipkart.com/")

In [501]:
Glass=driver.find_element(By.CLASS_NAME,"Pke_EE")
Glass.send_keys('sunglasses')

In [502]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [503]:
brand=[]
product=[]
price=[]

In [504]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
        product_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
    for i in product_tags:
        product.append(i.text) 
        price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [505]:
print(len(brand),len(product),len(price))

120 120 120

In [506]:
df=pd.DataFrame({'Brand':brand,'Product_Description':product,'Price':price})
df[0:100]

            Brand                                Product_Description Price
0          OCHILA  Sponsored\nOCHILA\nUV Protection Aviator Sungl...  ₹199
1    hayden haiza  Sponsored\nhayden haiza\nUV Protection Retro S...  ₹225
2            SRPM  SRPM\nUV Protection Wayfarer Sunglasses (50)\n...  ₹149
3       Elligator  Elligator\nUV Protection Retro Square Sunglass...  ₹149
4   VINCENT CHASE  VINCENT CHASE\nby Lenskart Polarized, UV Prote...  ₹499
..            ...                                                ...   ...
95         PIRASO  PIRASO\nUV Protection Over-sized Sunglasses (6...  ₹299
96      ROYAL SON  Sponsored\nROYAL SON\nMirrored Aviator Sunglas...  ₹359
97         AISLIN  Sponsored\nAISLIN\nUV Protection, Gradient Ove...  ₹445
98    PETER JONES  PETER JONES\nPolarized Aviator Sunglasses (50)...  ₹616
99         PIRASO  PIRASO\nUV Protection Aviator Sunglasses (Free...  ₹290

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [387]:
driver = webdriver.Chrome()

In [388]:
driver.get("https://www.amazon.in/")

In [389]:
lap=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
lap.send_keys('Laptop')

In [390]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [392]:
dell=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[17]/span/span[10]/li/span/a/span")
dell.click()

In [393]:
Title=[]
Ratings=[]
Price=[]

In [394]:
title_tagss=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tagss[0:11]:
    title_name=i.text
    Title.append(title_name)
Ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in Ratings_tags[0:11]:
    Ratings_name=i.text
    Ratings.append(Ratings_name)         
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:11]:
    price_name=i.text
    Price.append(price_name)

In [395]:
print(len(Title),len(Ratings),len(Price))

11 11 11

In [396]:
df=pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                                Title Ratings     Price
0   ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     413    64,990
1   MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      58    54,990
2   ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     178    77,990
3   Acer Travelmate Business Laptop Intel Core i7-...       1    54,990
4   MSI CreatorPro M16, Intel 13th Gen. i7-13700H,...     432  1,84,990
5   Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...     128    60,190
6   Microsoft Surface Book 3 10th Gen Intel Core i...     207  1,89,990
7   HP Victus Gaming Laptop 13th Gen Intel Core i7...     681    99,990
8   Acer Predator Helios Neo 16 Gaming Laptop 13Th...      87  1,14,990
9   HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...      65    84,899
10  Lenovo IdeaPad Pro 5 Intel Core i7 13700H 16 I...      22  1,09,190

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [620]:
driver.find_elements()

[]

In [398]:
driver = webdriver.Chrome()

In [399]:
url="https://www.flipkart.com/"
driver.get(url)

In [406]:
Glass=driver.find_element(By.CLASS_NAME,"Pke_EE")
Glass.send_keys('sneakers')

In [409]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [495]:
brand=[]
product=[]
price=[]

In [496]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
        product_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
    for i in product_tags:
        product.append(i.text) 
        price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [497]:
print(len(brand),len(product),len(price))

120 120 120

In [498]:
df=pd.DataFrame({'brand':brand,'product':product,'price':price})
df[0:100]

,brand,product,price
0,PUMA,"PUMA\nCourt Ultra Sneakers For Men\n₹3,532₹6,9...","₹3,532"
1,Roadster,"Roadster\nSneakers For Men\n₹765₹1,69954% off",₹765
2,PUMA,"PUMA\nGraviton Sneakers For Men\n₹2,925₹6,4995...","₹2,925"
3,Sparx,Sparx\nSM-747 Sneakers For Men\n₹799₹99920% off,₹799
4,HRX by Hrithik Roshan,"HRX by Hrithik Roshan\nSneakers For Men\n₹1,81...","₹1,818"
...,...,...,...
95,BRUTON,BRUTON\nModern Trendy Sneakers Shoes Sneakers ...,₹435
96,CAMPUS,"CAMPUS\nOG-09 Sneakers For Men\n₹1,340₹1,69921...","₹1,340"
97,PUMA,PUMA\nMirage Sport Tech Reflective Sneakers Fo...,"₹4,050"
98,Abros,"Abros\nPRIME-N Sneakers For Men\n₹926₹1,11917%...",₹926
99,PUMA,"PUMA\nR78 Trek Lth Sneakers For Men\n₹3,250₹6,...","₹3,250"

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
            As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [517]:
driver = webdriver.Chrome()

In [518]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market"
driver.get(url)

In [531]:
Rating=[]
Review_summary=[]
Review=[]

In [532]:
start=0
end=3
for page in range(start,end):
    Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in Rating_tags:
        Rating.append(i.text)
        RS_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in RS_tags:
        Review_summary.append(i.text) 
        Review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in Review_tags:
        Review.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [534]:
print(len(Rating),len(Review_summary),len(Review))

30 30 30

In [535]:
df=pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Review':Review})
df[0:100]

,Rating,Review_summary,Review
0,5,Just wow!,Perfect Product!!
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Best in the market!,Good Camera
3,5,Wonderful,This is amazing at all
4,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
5,5,Terrific,Very very good
6,5,Terrific purchase,Value for money 😍
7,5,Perfect product!,Photos super
8,5,Perfect product!,V Good all
9,5,Fabulous!,Super🔥 and good performance 👌❤️
10,5,Fabulous!,Super🔥 and good performance 👌❤️
11,5,Brilliant,Excellent Phone.
12,5,Brilliant,very good camera quality
13,5,Excellent,NYC
14,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
15,5,Fabulous!,It’s very good battery life and display and vi...
16,5,Terrific purchase,Value for money 🖤🖤
17,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
18,5,Super!,Good product 👌I love iPhone
19,5,Simply awesome,Really satisfied with the Product I received.....
20,5,Terrific purchase,Awesome 💙
21,5,Excellent,"Using this phone from last 4days, great camera..."
22,5,Wonderful,Quality camera
23,5,Awesome,Awesome Phone. Battery backup top-notch...
24,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
25,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
26,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
27,4,Very Good,I switched to IOS for long term use and for be...
28,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
29,5,Classy product,Outstanding performance this phone

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [645]:
driver = webdriver.Chrome()

In [646]:
driver.get('https://www.azquotes.com/')

In [647]:
Quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Quotes.click()

In [655]:
quote=[]
author=[]
typeofquote=[]

In [656]:
start=0
end=3
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text) 
        typeofquote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in typeofquote_tags:
        typeofquote.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [657]:
print(len(quote),len(author),len(typeofquote))

300 300 300

In [658]:
df=pd.DataFrame({'quote':quote,'author':author,'typeofquote':typeofquote})
df[0:100]

,quote,author,typeofquote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [617]:
driver.find_elements()

[]

In [609]:
driver = webdriver.Chrome()

In [613]:
driver.get('https://www.jagranjosh.com/')

In [614]:
gk_option = driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
gk_option.click()

In [615]:
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[8]/div/ul/li[10]/a')
pm.click()

In [619]:
data = []
table = webdriver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table/tbody')
for tr in table.find_elements(By.XPATH,'//tr'):
    row = [item.text for item in tr.find_elements(By.XPATH,'.//td')]
    data.append(row)
print(data)

AttributeError: module 'selenium.webdriver' has no attribute 'find_elements'

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [636]:
driver = webdriver.Chrome()

In [637]:
driver.get(' https://www.motor1.com/')