6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre


Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [83]:
# Importing Libraries

import selenium 
import pandas as pd
import time 
from bs4 import BeautifulSoup

# Importing selenium Webdriver
from selenium import webdriver

#Importing required Exceptons which needs to handled

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

from selenium.webdriver.common.by import By
import csv

In [90]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [91]:
table_body = driver.find_element(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody')

In [92]:
table_rows=table_body.find_elements(By.TAG_NAME,"tr")

In [93]:
with open ("novels_data.csv","w",newline="") as file:
    writer = csv.writer(file)
    for row in table_rows:
        table_data = row.find_elements(By.CSS_SELECTOR,"td, th")
        row_data = []
        for data in table_data:
            row_data.append(data.text)
        writer.writerow(row_data)

In [106]:
df1=pd.read_csv('novels_data.csv',sep=',',header=0,names=['Rank','Book_name','Author name','Volumes sold','Publisher','Genre'],index_col='Rank')

In [107]:
df1.head(1)

,Book_name,Author name,Volumes sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"

1. Scrape the details of most viewed videos on YouTube from Wikipedia.                                                            Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:                        A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [108]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [118]:
table_body = driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody')

In [119]:
table_rows=table_body.find_elements(By.TAG_NAME,"tr")

In [137]:
with open ("mostview_data.csv","w",newline="", encoding='utf-8',errors='ignore') as file:
    writer = csv.writer(file)
    for row in table_rows:
        table_data = row.find_elements(By.CSS_SELECTOR,"td, th")
        row_data = []
        for data in table_data:
            row_data.append(data.text)
        writer.writerow(row_data)

In [141]:
df2=pd.read_csv('mostview_data.csv',sep=',',header=0,names=['Name','Artist','Views','Upload date'])

In [148]:
df2.iloc[0:1,0:5]

,Name,Artist,Views,Upload date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,17-Jun-16